[submodule "themes/hugo.386"]
	path = themes/hugo.386
	url = git@github.com:pmh-only/HUGO.386.git
[submodule "public"]
	path = public
	url = git@github.com:pmh-only/pmh-only.github.io.git
	branch = main
