:root {
  --accent-color: #ffaaaa;
  --link-color: #b0b0ff;
  --link-visited: #d0a0d0;
  --text-color: #eee;
  --background-color: #222;
  --secondary-background-color: #333;
  --secondary-text-color: #666;

  user-select: none;
}

pre {
  user-select: all;
}

*::selection {
  color: var(--text-color);
  background-color: var(--link-color);
}

html, code, pre {
  font-family: "Inconsolata Variable", monospace;
}

html {
  font-size: 16px;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  color: var(--text-color);
  background-color: var(--background-color);

  white-space: nowrap;
  padding: 30px 26px;
}

img {
  border-radius: 6px;
}

summary {
  padding: 6px 0px;
}

a, summary {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 2px;
  cursor: pointer;
  transition: text-decoration-color 0.2s ease;
}

a:hover, summary:hover, a:focus, summary:focus {
  text-decoration-color: var(--link-color);
}

a:visited {
  color: var(--link-visited);
}

code, pre {
  color: var(--accent-color);
  background-color: var(--secondary-background-color);
  border-radius: 6px;
}

code {
  padding: 0px 8px;
}

pre {
  padding: 16px 24px;
  white-space: pre-line;
  display: inline-block;
}

ul {
  padding-left: 0px;
}

details > div {
  padding-left: 24px;
}

h1, h2, h3 {
  margin: 0;
  margin-top: 16px;
}

p, ul, li {
  margin: 0;
}

summary::marker, li::marker {
  color: var(--secondary-text-color);
  font-weight: bold;
}

ul {
  list-style: ':: ' inside;
}

details summary::marker {
  content: "[+] ";
}

details[open] summary::marker {
  content: "[-] ";
}

details:last-of-type summary::-webkit-details-marker {
  display: none;
}

:focus-visible {
  outline: none;
  text-decoration: underline;
}

del {
  text-decoration: line-through var(--accent-color) 2px;
}

sup {
  color: var(--accent-color);
}
