.links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;

  > li {
    list-style: none;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: #fafafa;
        background-color: #212121;
      }
    }
  }
}
