html {
  background-size: 80vh;
  background-color: #eee;
  background-image: url('/favicon.svg');
  background-repeat: no-repeat;
  background-position: bottom -20vh right -20vh;

  user-select: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li, button {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
}
